################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AnyStore/FileContentIndex/0a085315-85bb-4ea5-8263-8853eec1398a.vsidx
/.vs
/.gitignore